html, body {
  height: 100%;
  overflow-y: auto;
}

body {
    background-color: #333;
    color: white;
    overflow-x: auto;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.success {
    color: green;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
}

.error {
    color: red;
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}

.update {
    color: blue;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
}