{% extends 'base.html' %}
{% block title %}Part Data{% endblock %}
    {% block styles %}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Import from file</h2>
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Select CSV file</label>
                <input class="form-control" type="file" id="file" name="file" accept=".csv" required>
            </div>
            <button class="btn btn-primary">Import</button>
        </form>

        {% with message = get_flashed_messages() %}
            {% if messages %}
                <ul class="mt-3 alert alert-info">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}