{% extends 'base.html' %}

{% block title %}Part Data{% endblock %}
    {% block styles %}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
    {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Material detail</h2>
    <form action="{{ url_for('view_material', article_code=article.code) }}" method="GET" class="row g-3 mb-4">

        <div class="input-group mb-3">
            <input type="text" class="form-control" name="code" placeholder="Search part number">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    <div class="card p-3 shadow-sm rounded">
        <p><strong>Name:</strong> {{article.name}}</p>
        <p><strong>Part ID:</strong> {{article.code}}</p>
        <p><strong>Price:</strong> ${{article.unit_price}}</p>
    </div>

    <div class="mt-5">
        <h4>Ventas del material</h4>
        <!--Gráfico irá aqui-->
        <canva id="salesChart" width="400" height="200"></canva>
    </div>
</div>

{% endblock %}
